h1 {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 10px;
  border-style: inset;
  border-radius: 20px;
}
h2 {
    text-align: center;
    color: black;
    background-color: goldenrod;
    font-size: 50px;
    margin-top: 0%;margin-bottom: 0%;margin-left: 30%;margin-right: 30%;
}
.contents {
  display: flex;
  justify-content: space-between;
}
.right {
  height: 75%;
  width: 500px;
}

.contact{
    padding: 10px;
    margin-left: 20%;
}
input,textarea{
  width: 75%;
  margin-top: 20px;
  padding: 20px;
}

button {
text-align: center;
  background-color: red;
  border: none;
  padding: 2%;
  border-radius: 10px;
  width: 300px;
  height: 35px;
  margin: 20px;
  color: blue;
}
p{
    font-size: xx-large;
}